<div class="content-wrapper" style="margin-left: 0px;">
    <div class="container-fluid">
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <!--
                <h3>Current User: {{currentUser}}!</h3>          
                <a [routerLink]="['/login']" style="float: right;"><button class="btn btn-sm btn-primary"><i class="icofont icofont-logout"></i>Logout</button></a>
               
                -->
               
                <video id="video"  style="width:100%" muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" [style.display]="noVideo ? 'block' : 'none'" controls></video>
                <img [style.display]="noImage ? 'block' : 'none'" src="./assets/images/servernovideo.jpeg" alt="Mega Pop Video Server" width="100" height="600" style="width: 100%;">
                
               
            </div>
        </div>
    </div>
</div>
